/* Fonts */

@font-face {
  font-family:"Roboto";
  font-weight: 400;
  font-style: normal;
  src:
      url("./fonts/roboto.woff2") format("woff2"),
      url("./fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src:
      url("./fonts/robotobold.woff2") format("woff2"),
      url("./fonts/robotobold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src:
      url("./fonts/robotomedium.woff2") format("woff2"),
      url("./fonts/robotomedium.woff") format("woff");
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-grey3: #283136;
  --basic-grey: #C1C1C1;
  --basic-grey2: #EEEEEE;
  --basic-grey4: #E1E1E1;
  --basic-red: #FB565A;
  --basic-red-hover: #E74246;
  --basic-red-active: #D7373B;
  --basic-green: #00CA74;
  --basic-green-hover: #00BC6C;
  --basic-green-active: #00AA62;
  --basic-yellow: #EFC849;
  --basic-yellow-hover:#EAB534;
  --basic-yellow-active: #E5A722;
  --basic-white: #ffffff;

}

/* Global */

body {
  margin: auto;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-grey3);
  text-transform: none;
  min-height: 100%; /* минимальная высота по контенту родителя */
}

#header-wrapper {
  background-color: #EEEEEE;
}

#header-wrapper-catalog {
  background-color: #EEEEEE;
}

#header-wrapper * {
  margin: auto;
  max-width: 1160px;
}

.page-wrap {
  margin: auto;
  max-width: 1160px;
}

ul {
  margin: 0;
  padding:0;
}

a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Main-navigation */

.main-header {
  display: flex;
  padding-top: 50px;
  margin: 0;
}

.main-header-logo {
  position: relative;
  left: -70px;
}

.main-header-logo a:hover {
  opacity: 0.7;
}

.main-header-logo a:active {
  opacity: 0.3;
}

.main-navigation {
  font-size: 16px;
  color: var(--basic-black);
}

.main-navigation ul {
  display: flex;
  list-style: none;
  min-height: 40px;
}

.main-navigation a {
  padding: 25px 20px;
  height: 500px;
  text-transform: uppercase;
  color: var(--basic-black);
  font-weight: 700;
}

.main-navigation a:hover {
  color: var(--basic-red);
}

.main-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Basket */

.basket-navigation {
  position: relative;
  right: -70px;
}

.basket-navigation .basket-link {
  position: relative;
  padding-left: 30px;
}

.basket-link {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  text-transform: uppercase;
  color: var(--basic-black);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}

.basket-navigation a:hover {
  color: var(--basic-red);
}

.basket-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Slider */

.site-wrapper {
  min-width: 940px;
  background: #EEEEEE;
  background-image: url("img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}

.container {
  height: 431px;
}

.slider {
  height: 100%;
}

.slider-image {
  width: 760px;
  display: flex;
}

.slider-list {
  list-style: none;
}

.slider-title {
  padding-bottom: 20px;
  font-size: 55px;
  line-height: 55px;
  color:var(--basic-black);
  font-weight: 500;
}

.slider-content p {
  padding-bottom: 30px;
}

.slider-list-item {
  display: flex;
  justify-content: flex-start;
}

.slider-list-item a {
  padding: 15px 40px;
  border-radius: 3px;
  font: inherit;
  font-weight: 500;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  outline: none;
  border: none;
}

.slider-list-item a:hover {
  background-color: var(--basic-red-hover);
}

.slider-list-item a:active {
  background-color: var(--basic-red-active);
}

.slider-controls {
  position: absolute;
  display: flex;
  width: 80px;
  padding-left: 560px;
  padding-top: 340px;
  justify-content: space-between;
}

.slider-controls button {
  width: 17px;
  height: 17px;
  padding-bottom: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
}

.slider-list-item {
  display: none;
}

.slide-current{
  display: flex;
}

.slider-controls button::after {
  content: "";
  position: absolute;
  right: 63px;
  top: 345px;
  width: 4px;
  height: 4px;
  border: 2px solid #c4c4c4;
  border-radius: 50%;
  background-color: white;

}

/* Services */

.services-list {
  display: flex;
  column-gap: 100px;
  padding-bottom: 80px;
  list-style: none;
  margin-top: 80px;
  margin-bottom: 73px;
  background-image: url("img/Rectangle 1.png");
  background-position: bottom left;
  background-repeat: no-repeat, repeat;
}

.services-item h4 {
  margin-top: 15px;
  margin-bottom: 1px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services-item p {
  color: var(--basic-grey3);
}

/* Index services columns */

.about-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-position: 0 0;
  background-repeat: repeat;
}

/* Red button */

.button-red {
  padding: 15px 40px;
  border-radius: 3px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  outline: none;
}

.button-red:hover {
  background-color: var(--basic-red-hover);
}

.button-red:active {
  background-color: var(--basic-red-active);
}


.textButton:active {
  opacity: 0.3;
}

/* Green button */

.button-green {
  padding: 15px 40px ;
  border-radius: 3px;
  font: inherit;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-green);
  outline: none;
  border: none;
}

.button-green:hover {
  background-color: var(--basic-green-hover);
}

.button-green:active {
  background-color: var(--basic-green-active);
}

/* Yellow button */

.button-yellow {
  padding: 15px 40px ;
  border-radius: 3px;
  font: inherit;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-yellow);
  outline: none;
  border: none;
}

.button-yellow:hover {
  background-color: var(--basic-yellow-hover);
}

.button-yellow:active {
  background-color:var(--basic-yellow-active)
}

/*About columns */

.about-columns {

  display: flex;
  flex-direction: row;
  padding-bottom: 73px;
  background-image: url("img/Rectangle 1.png");
  background-position: bottom left;
  background-repeat: no-repeat, repeat;
}

.about-columns p {
  font-size: 16px;
  line-height: 24px;
}

.about-item {
  font-size: 16px;
  line-height: 44px;
  padding-left: 35px;

  background-image: url("img/Rectangle List 1.png");
  background-position: left;
  background-repeat: no-repeat, repeat;

}

/* About Left */

.about-left {
  width: 655px;
}

.about-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-top: 35px;
}

.about-title-list {
  font-size: 16px;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-title-list-right {
  font-size: 16px;
  line-height: 24px;
  margin-top: 40px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-list {
  list-style: none;
}

/*About Right*/

.about-right {
  display: flex;
  flex-direction: column;
  margin-left: 149px;
  width: 360px;
}

.about-title {
  color: var(--basic-black);
}

.about-title-list2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  color: var(--basic-black);
}

.number1 {
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  margin: auto;
}

.number2 {
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  margin: 0;
}

.number3 {
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  margin: 0;
}

.percent {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  color: var(--basic-black);
}

.about-title-list2 p {
  font-size: 16px;
  line-height: 18px;
}

.about-columns .about-title-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Clients logo */

.clients-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  max-width: 1160px;
  margin-top: 45px;
  margin-bottom: 70px;
  padding-bottom: 35px;

  background-image: url("img/Rectangle 1.png");
  background-position: bottom left;
  background-repeat: no-repeat, repeat;

}
.clients-logo {
  opacity: 0.2;
}

.clients-logo:hover {
  opacity: 1;
}

.clients-logo:active {
  opacity: 0.1;
}

/* Contacs box */

.contacts {
  background-image: url("img/map 1.png");
  background-position: center;
  height: 416px;
}

.contacts-box {
  height: 200px;
  width: 200px;
  background: #ffffff;
  padding: 45px;
  position: relative;
  left: -440px;
  top: 55px;
}

.contacts-box h6 {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 20px;
}

.contacts-box p {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.contacts-box button {
  width: 219px;
  height: 50px;
}

/* Footer */

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 50px;
}

.footer-goodbye {
  margin-left: 139px;
}

.footer-goodbye h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

/* Social icons */

.footer-social {
  list-style: none;
  display: flex;
}

.circleBase {
  border-radius: 50%;
}

.circleBase a {
  display: block;
  width: inherit;
  height: inherit;
}

.circleBase a img {
  margin: auto;
  display: inherit;
  height: inherit;
}

.circleBase a img:active {
  opacity: 0.3;
}

.iconSocial {
  margin: 9px 9px;
  background-color: var(--basic-grey4);
  width: 81px;
  height: 81px;
}

.iconSocial:hover {
  background-color:var(--basic-red);
}

.iconSocial:active {
  background-color: var(--basic-red-active);
}

/* Catalog */

.catalog-container {
  height: 230px;
}

.page-catalog {
  margin: auto;
  max-width: 1160px;
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

.catalog-title h1 {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  font-size: 45px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

/* Filtres */

.Filters-left {
  display: flex;
  flex-direction: column;
  width: 260px;
}

.range-filter {
  margin-bottom: 45px;
}

/* Price */

.FilterPrice legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-controls {
  position: relative;
  height: 39px;
  margin-bottom: 15px;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00CA74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.range-filter label {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

/* Filter Grid */

.FilterGrid legend {
  padding-left: 0px;
  margin-left: 0px;
}

.FilterGrid {
  border: none;
}

.FilterGrid li {
  margin-left: 20px;
  list-style: none;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
}

.FilterGrid label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 10px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 6px;
  width: 20px;
  height: 20px;
  border: 2px solid #4D4D4D;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 14px;
  left: -22px;
  width: 8px;
  height: 8px;
  background-color: #4D4D4D;
  border-radius: 50%;
}

/* Features */

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 6px;
  width: 30px;
  height: 30px;
  background-image: url("img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -30px;
  width: 30px;
  height: 30px;
  background-image: url("img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.FilterFeatures {
  border: none;
}

.FilterFeatures label {
  padding-left: 10px;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;

}

.FilterFeatures li {
  margin-left: 20px;
  list-style: none;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
}

.buttonSubmit {
  margin-top: 45px  ;
  padding: 10px 90px;
  border-radius: 3px;
  font: inherit;
  font-weight: 500;
  color: black;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #EEEEEE;
  outline: none;
  border: none;
}

.buttonSubmit:hover {
  background-color: #DFDFDF;
}

.buttonSubmit:active {
  background-color: #D5D5D5;
}

/* Filter Sort */

.filterSort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  margin-top: 0px;
  margin-left: 140px;
  width: 760px;
}

.filterSort h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.filterSort ul {

  display: flex;
  justify-content: flex-end;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  list-style: none;
}
.filterSort ul li {
  margin: 0 20px;
}

.filterSort a {
  color: black;
}

/* Templates catalog */

.templates-columns  {
  list-style: none;
  margin-left: 140px;
}

.templates-columns ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
}

.templates-content {
  display: flex;
  flex-direction: column;
  max-height: 600px ;
}

.browser-image {
  opacity: 12%;
  max-height: 37px;
}

.templates-columns li {
  margin-right: 30px;
  margin-bottom: 60px;
  list-style: none;
  background-color: var(--basic-grey2);
}

.templates-columns img {
  width: 330px;
}

.templates-columns a {
  color: var(--basic-black);
  display: block;
}

.templates-text a:hover {
  color: var(--basic-red);
}

.templates-text h3:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.templates-text {
  position: relative;
  bottom: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EEEEEE;
}

.templates-text h3 {
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-top: 35px;
}

.templates-text p {
  margin-bottom: 25px;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.templates-text button {
  margin-bottom: 35px;
  width: 200px;
  padding: 17px 70px;
  border-radius: 3px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  outline: none;
}

.templates-text .textButton {
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
}

.templates-columns button:hover {
  background-color: var(--basic-red-hover);
}

.templates-columns button:active {
  background-color: var(--basic-red-active);
}

.textButton:active {
  opacity: 0.3;
}

.pagination-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 140px;
  margin-top: 0px;
  margin-bottom: 60px;
}

.pagination-item a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-grey2);
  float: left;
  padding: 15px 20px;
  text-decoration: none;
  border-radius: 3px;
  margin: 0 8px;
}

.pagination-item a:hover {
  background-color: #DFDFDF;
}

.pagination-item a:active {
  background-color: #D5D5D5 ;
}


