/* Fonts */

@font-face {
  font-family:"Roboto";
  font-weight: 400;
  font-style: normal;
  src:
      url("/fonts/roboto.woff2") format("woff2"),
      url("/fonts/roboto.woff") format("woff");

}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src:
      url("/fonts/robotobold.woff2") format("woff2"),
      url("/fonts/robotobold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src:
      url("/fonts/robotomedium.woff2") format("woff2"),
      url("/fonts/robotomedium.woff") format("woff");
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-grey3: #283136;
  --basic-grey: #C1C1C1;
  --basic-grey2: #EEEEEE;
  --basic-grey4: #E1E1E1;
  --basic-red: #FB565A;
  --basic-red-hover: #E74246;
  --basic-red-active: #D7373B;
  --basic-green: #00CA74;
  --basic-green-hover: #00BC6C;
  --basic-green-active: #00AA62;
  --basic-yellow: #EFC849;
  --basic-yellow-hover:#EAB534;
  --basic-yellow-active: #E5A722;
  --basic-white: #ffffff;

}

/* Global */

body {
  max-width: 1160px;
  margin: auto;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-grey3);
  text-transform: none;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%; /* минимальная высота по контенту родителя */

  display: grid;
  grid-template-rows: min-content 1fr min-content; /* сетка строк */
  align-content: start;

}

.page-wrap {

  margin: auto;
  padding: 0;
}

ul {
margin: 0;
padding:0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main-navigation */

.main-header {
  display: grid;
  grid-template-columns: 160px 1fr min-content;
  margin-top: 50px;
}

.main-header-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  //border: 2px solid #000000;
  width: 160px;
  height: 65px;
}

.main-header-logo a:hover {
  opacity: 0.7;
}

.main-header-logo a:active {
  opacity: 0.3;
}

.main-navigation {
  width: 437px;
  height: 30px;
  margin: 0 auto;
  padding: 0 10px;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: transparent;
  text-align: center;
  //border: 2px solid #000000;
}


.index-columns {
  background-color: var(--basic-grey2);
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.site-navigation a {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  font-weight: 700;
}

.site-navigation a:hover {
  color: var(--basic-red);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.basket-link {
  display: grid;
  grid-template-columns: 1fr min-content;

  text-transform: uppercase;
  color: var(--basic-black);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}

.basket-link:hover {
  color: var(--basic-red);
}

.basket-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.basket-navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  //border: 1px solid #000000;
  width: 115px;
  height: 30px;
}

.main-welcome-box h2 {
  font-size: 55px;
  line-height: 55px;
  color:var(--basic-black);
}

.main-welcome-box {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-grey3);
}

/* Services */

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 80px;
  margin-bottom: 160px;
}

.services-item h4 {
  margin-top: 15px;
  margin-bottom: 1px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services-item p {
  color: var(--basic-grey3);
}

/* Index services columns */

.about-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 35px;
  background-position: 0 0;
  background-repeat: repeat;
}

/* Red button */

.button-red {
  padding: 15px 40px ;
  border-radius: 3px;
  font: inherit;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
}

.button-red:hover {
  background-color: var(--basic-red-hover);
}

.button-red:active {
  background-color: var(--basic-red-active);
}

.textButton:active {
  opacity: 0.3;
}

/* Green button */

.button-green {
  padding: 15px 40px ;
  border-radius: 3px;
  font: inherit;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-green);
  border: none;
}

.button-green:hover {
  background-color: var(--basic-green-hover);
}

.button-green:active {
  background-color: var(--basic-green-active);
}

/* Yellow button */

.button-yellow {
  padding: 15px 40px ;
  border-radius: 3px;
  font: inherit;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-yellow);
  border: none;
}

.button-yellow:hover {
  background-color: var(--basic-yellow-hover);
}

.button-yellow:active {
  background-color:var(--basic-yellow-active)
}

/*About columns */
.about-columns {

  margin-top: 0;
  display: flex;
  flex-direction: row;
}
.about-columns p {
  font-size: 16px;
  line-height: 24px;
}

.about-item {
  font-size: 16px;
  line-height: 44px;
}

/* About Left */

.about-left {
  width: 655px;
}

.about-title {
  font-size: 45px;
  line-height: 45px;
  margin-top: 35px;
}


.about-title-list {
  font-size: 16px;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-title-list-right {
  font-size: 16px;
  line-height: 24px;
  margin-top: 40px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-list {
  list-style: none;
}

/*About Right*/

.about-right {
  display: flex;
  flex-direction: column;
  margin-left: 149px;
  width: 360px;
}

.about-title {
  color: var(--basic-black);
}

.about-title-list2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  color: var(--basic-black);
  //border: 1px solid #000000;

}

.number1 {
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  margin: auto;


}

.number2 {
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  margin: 0;
}

.number3 {
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  margin: 0;
}

.percent {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  color: var(--basic-black);
}

.about-title-list2 p {
  font-size: 16px;
  line-height: 18px;
}

.indicators {
}

.about-columns .about-title-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}


/* Clients logo */

.clients-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  margin-top: 73px;
  margin-bottom: 80px;
  list-style: none;
}

/* Clients logo */

.clients-logo {
  opacity: 0.2;
}

.clients-logo:hover {
  opacity: 1;
}

.clients-logo:active {
  opacity: 0.1;
}



/* Contacs box */

.contacts-box h6 {
  font-size: 18px;
  line-height: 30px;
}

.contacts-box p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}


/* Footer */

.footer {
  display: grid;
  grid-template-columns: min-content 1fr;


}

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.footer-goodbye {
  margin-left: 139px;
}

.footer-goodbye h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}


/* Social icons */
.footer-social {
  list-style: none;
  display: flex;
}

.circleBase {
  border-radius: 50%;
}

.circleBase a {
  display: block;
  width: inherit;
  height: inherit;
}

.circleBase a img {
  margin: auto;
  display: inherit;
  height: inherit;
}

.circleBase a img:active {
  opacity: 0.3;
}

.iconSocial {
  margin: 9px 9px;
  margin-top: 0px;
  background-color: var(--basic-grey4);
  width: 81px;
  height: 81px;
}

.iconSocial:hover {
  background-color:var(--basic-red);
}

.iconSocial:active {
  background-color: var(--basic-red-active);
}



/* Catalog */

.page-catalog {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.main-page h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

.backgroundColor {
  color: var(--basic-grey2);
}

/* Filtres */

/* Price */

.inner-page {
  display: grid;
  //border: 2px solid #D7373B;
}

.FilterPrice legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.fromBefore label {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

/* Filter Grid */
.Filters-left {
  //border: 2px solid #D7373B;
}
.FilterGrid li {
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

/* Features */

.FilterFeatures li {
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.buttonSubmit {
  font: inherit;
  font-weight: 500;
  text-align: center;
  color: var(--basic-black);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-grey2);
  //border: none;
}

.buttonSubmit:hover {
  background-color: #DFDFDF;
}

.buttonSubmit:active {
  background-color: #D5D5D5;
}

/* Filter Sort */

.filterSort {
  display: grid;
  grid-column: 2 / -1;
  //border: 2px solid #D7373B;
}
.filterSort h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filterSort li {
  list-style: none;
}

/* Templates catalog */

.templates-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  grid-column: 2 / -1;
  //border: 2px solid #00AA62;
  list-style: none;
}

.templates li {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  background-color: var(--basic-grey2);
}

.templates h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.templates a {
  color: var(--basic-black);
  display: block;
}

.templates a:hover {
  color: var(--basic-red);
}

.templates h3:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.templates p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.templates button {
  font: inherit;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
}

.templates button:hover {
  background-color: var(--basic-red-hover);
}

.templates button:active {
  background-color: var(--basic-red-active);

}

.textButton:active {
  opacity: 0.3;
}

.pagination-inner {
  padding-top: 54px;
}

.pagination-list {
  list-style: none;
  display: block;
}

.pagination-item a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-grey2);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 3px;
  margin: 0 4px;
}

.pagination-item a:hover {
  background-color: #DFDFDF;
}

.pagination-item a:active {
  background-color: #D5D5D5 ;
}




